html {
  scroll-behavior: smooth;
}
.main-section {
  background-image: url(./img/img-first.jpg);
  height: 100vh;
  background-size: cover;
  background-position: bottom;
  margin: 0px;
}

.upside-container {
  display: flex;
  justify-content: space-around;
  height: 112px;
  margin: 0px;
  align-items: center;
}

.img-first {
  height: 64px;
  width: 64px;
}

.menu {
  color: white;
  font-size: 24px;
  display: flex;
  gap: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  align-items: center;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu a:hover {
  text-decoration: none;
  color: #9f0908;
}

.img-phone {
  height: 24px;
  width: 24px;
}

.menu a:last-child {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.number {
  background-color: red;
  padding: 8px;
  border-radius: 10px;
  color: white !important;
}
.number:hover {
  background-color: rgba(255, 0, 0, 0.5);
}

.headline {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  list-style: none;
}

.text-headline {
  font-size: 96px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.text {
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.headline-after {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #9f0908;
  padding-top: 120px;
  padding-bottom: 64px;
  margin: 0;
}

.img-order {
  width: 128px;
  height: 128px;
  padding-bottom: 16px;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 0px;
  padding-bottom: 120px;
}

.text-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.text-order {
  font-family: "Economica", sans-serif;
  font-weight: 700;
  font-size: 56px;
  padding-top: 16px;
  padding-bottom: 120px;
  margin: 0;
  width: 300px;
  text-align: center;
}

.menu-card {
  background-image: url(./img/section_our_menu_bg.jpg);
}

.img-menu {
  width: 352px;
  height: 352px;
}

.card2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 80px;
  padding-top: 56px;
  padding-bottom: 56px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.card-container {
  padding: 120px;
}

.headline-after-second {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #9f0908;
  padding-bottom: 64px;
  margin: 0;
}

.table-headline {
  font-family: "Economica", sans-serif;
  font-weight: 700;
  font-size: 56px;
  color: #000000;
  padding-bottom: 16px;
}

td {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #675e54;
}
.text-right{
  text-align: end;
}
.text-left{
  text-align: end;
}

.body {
  margin: 0;
}
.maps-headline {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 80px;
  color: #9f0908;
  padding-top: 120px;
  margin: 0;
}
.maps-container {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 64px;
  gap: 8px;
}
.img-map {
  width: 24px;
  height: 24px;
  align-self: center;
}
.footer-container {
  background-color: #0a141e;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-social {
  width: 40px;
  height: 40px;
}
.img-sakura {
  height: 40px;
}
.iframe {
  border: 0;
  width: 100%;
  height: 450px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .hide-menu {
    display: none;
  }
  .number-size {
    font-size: 20px;
  }
  .text-headline {
    font-size: 72px;
  }
  .text {
    font-size: 20px;
    margin-block-start: 0;
    margin-block-end: 0;
  }
  .menu-container {
    padding-bottom: 96px;
  }
  .img-order {
    width: 112px;
    height: 112px;
  }
  .text-order {
    font-size: 32px;
    width: 200px;
    text-align: center;
  }
  .headline-after {
    font-size: 64px;
    padding-bottom: 48px;
    padding-top: 96px;
  }
  .card-container {
    padding-top: 96px;
    padding-bottom: 96px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .headline-after-second {
    font-size: 64px;
  }
  .table-headline {
    font-size: 32px;
  }
  td {
    font-size: 24px;
  }
  .card2 {
    padding-bottom: 32px;
    padding-top: 32px;
  }
  .maps-headline {
    padding-top: 96px;
    font-size: 64px;
  }
  .maps-container {
    padding-bottom: 48px;
  }
  .footer-container {
    height: 144px;
  }
  .img-footer{
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .hide-menu {
    display: none;
  }
  .img-first {
    width: 40px;
    height: 40px;
  }
  .number {
    font-size: 16px;
  }
  .text-headline {
    font-size: 35px;
  }
  .text {
    font-size: 16px;
  }
  .headline-after {
    padding-top: 72px;
    font-size: 32px;
    padding-bottom: 32px;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 72px;
  }
  .text-order {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 26px;
    width: 150px;
    padding-bottom: 32px;
  }
  .img-order {
    padding-bottom: 8px;
  }
  .card-container {
    padding-top: 72px;
    padding-bottom: 72px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .card {
    flex-direction: column;
  }

  .card2 {
    flex-direction: column;
  }
  .headline-after-second {
    font-size: 40px;
    padding-bottom: 40px;
  }
  .table-headline {
    font-size: 30px;
    padding-bottom: 8px;
    text-align: center;
    width: 300px;
  }
  td {
    font-size: 18px;
  }
  .img-menu{
    align-items: center;
    width: 300px;
    height: 300px;
    justify-content: center;
  }
  .maps-headline{
    font-size: 40px;
    padding-top: 72px;
  }
  .img-map{
    width: 16px;
    height: 16px;
  }
  .maps-container{
    padding-bottom: 40px;
  }
  .img-social{
    width: 32px;
    height: 32px;
  }
  .tabele-menu{
    justify-content: center;
  }
  .img-sakura{
    display: none;
  }
  .img-footer{
    width: 40px;
    height: 40px;
  }
  
}
@media (min-width: 1280px){
  .img-footer{
    display: none;
  }
}

